@model SOP_GAD.Models.ActaCalificacionOfertas
@{
   
        ViewBag.Title = Model.IdActaCalificacion > 0 ? ViewBag.Obra : "Nuevo Registro";
    
}

<link href="~/Assets/CSS/Contenido.css" rel="stylesheet" type="text/css">
<script src="~/Assets/JS/Validaciones.js" type="text/javascript"></script>

<ol class="breadcrumb">
    <li><a href="~/SeguimientoObras/ISeguimientoObrasLista/@ViewBag.IdObra"><i class="fa fa-hand-o-left" aria-hidden="true"></i>  Atrás</a></li>
    <li class="active">@(Model.IdActaCalificacion > 0 ? ViewBag.Obra : "Nuevo Registro")</li>
</ol>

<h2 class="headertekst">Ingrese la información de la Acta de Calificación</h2>

@using (Html.BeginForm("Guardar", "ActaCalificacion", FormMethod.Post, new { id = "frm-actacalificacion" }))
{
    @Html.HiddenFor(x => x.IdActaCalificacion)
    <div class="panel panel-default">
        <div class="panel-heading">Información de Acta de Calificación</div>
        <div class="panel-body">

            @*Inputs*@

            <div class="form-group">
                @Html.Label("Hora", new { @class = "col-lg-2 control-label" })
                @Html.TextBoxFor(x => x.HoraActaCalificacion, new { @class = "formcontrol date", type = "time", @required = "required" })
                @Html.ValidationMessageFor(x => x.HoraActaCalificacion, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Ofertante que califico", new { @class = "col-lg-2 control-label" })
                @Html.TextBoxFor(x => x.OfertanteCalifica, new { @class = "formcontrol", @placeholder = "Ingresar el nombre del oferente de la oferta que aprobo", @required = "required" })
                @Html.ValidationMessageFor(x => x.OfertanteCalifica, null, new { @class = "label label-danger" })
            </div>

            @if (Model.IdActaCalificacion > 0)
            {
                <div class="form-group">
                    @Html.Label("Fecha", new { @class = "col-lg-2 control-label" })
                    @Html.TextBoxFor(x => x.FechaActaCalificacion, new { @class = "formcontrol", @placeholder = "2018-06-30", @required = "required" })
                    @Html.ValidationMessageFor(x => x.FechaActaCalificacion, null, new { @class = "label label-danger" })
                </div>

                <div style="display:none;">
                    @Html.Label("Obra Publica", new { @class = "col-lg-2 control-label" })
                    @Html.TextBoxFor(x => x.IdObraPublica, new { @class = "formcontrol", @placeholder = "Obra", @required = "required" })
                    @Html.ValidationMessageFor(x => x.IdObraPublica, null, new { @class = "label label-danger" })
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.Label("Fecha", new { @class = "col-lg-2 control-label" })
                    @Html.TextBoxFor(x => x.FechaActaCalificacion, new { @class = "formcontrol date", type = "date", @required = "required" })
                    @Html.ValidationMessageFor(x => x.FechaActaCalificacion, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group" style="display:none;">
                    @Html.Label("Obra Publica", new { @class = "col-lg-2 control-label" })
                    @Html.TextBoxFor(x => x.IdObraPublica, new { @Value = @ViewBag.IdObra, @class = "formcontrol", @placeholder = "Obra", @required = "required" })
                    @Html.ValidationMessageFor(x => x.IdObraPublica, null, new { @class = "label label-danger" })
                </div>
            }

        </div>
    </div>
    <div class="form-group ">
        <div class="Centrar_content">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>


}

