@model List<SOP_GAD.Models.Ofertas>
@{
    ViewBag.Title = "Informacion de la Oferta";
}

<ol class="breadcrumb">
    <li><a href="~/Ofertantes/IOfertantesCalificacion/@ViewBag.IdCalificacion?obraId=@ViewBag.IdObra"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Lista de Obras Públicas</a></li>
    @if (ViewBag.Numero <8)
    {
    <label class="Derecha_content">
        @Html.ActionLink("Agregar Datos", "IOfertasIngreso", "Ofertas", new { id = 0, Acta = @ViewBag.IdCalificacion, Numof = @ViewBag.Ofertante }, null)
    </label>                                                              @*id = @Ob.IdOferta, Acta = @Ob.IdActaCalificacion, Numof =Ob.IdOfertante*@
    }
</ol>

<link href="~/Assets/CSS/Tablas.css" rel="stylesheet" type="text/css">
<h2 class="headertekst">Caracteristicas de la Oferta</h2>
@{
    int numero = 1;

}
<div>

    @if (Model.Count != 0)
    {

        <table id="mitabla" class="Centrar_content">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Parametro</th>
                    <th>Cumple</th>
                    <th>Fundamento</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Ob in Model)
                {
                    <tr>
                        <td>@numero</td>
                        <td>@Ob.Parametro</td>
                        <td>@Ob.Cumple</td>
                        <td>@Ob.Fundamento</td>
                        <td>@Html.ActionLink("Mod", "IOfertasIngreso", "Ofertas", new { id = @Ob.IdOferta, Acta = @Ob.IdActaCalificacion, Numof =Ob.IdOfertante }, null)</td>
                    </tr>
                    numero++;
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="headertekst">Ingrese la informacion para la tabla dela oferta</h2>

    }

</div>
<div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            }
        </script>
    }
</div>