<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Assets/img/gota-de-agua.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Assets/img/gota-de-agua.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>SCA </title>

    <!-- Bootstrap -->
    <link href="~/Assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Assets/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Assets/build/css/custom.min.css" rel="stylesheet">


</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Home/Index" class="site_title"><img src="~/Assets/img/gota-de-agua.png" alt="..." width="20px"> <span>Sistema de Cobro</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Images/avatar.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>@(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Home/IMyProfile"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-bank"></i> Institución <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Home/IActualizacionInst">Institución</a></li>
                                        <li><a href="~/Directivos/IDirectivos">Directivos</a></li>
                                        <li><a href="~/Usuario/IUsuario">Usuarios</a></li>
                                        <li><a href="~/Noticias/INoticias">Noticias</a></li>
                                        <li><a href="~/Configuracion/IConfiguracion">Configuracion</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Home/IPerfilUsuario"><i class="fa fa-edit"></i> Mi Perfil</a>
                                </li>
                                <li>
                                    <a><i class="fa  fa-group"></i> Socios <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Home/ISocio">Lista de Socios</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Barrio/IBarrio"><i class="fa fa-table"></i> Barrios</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-tachometer"></i> Medidor<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Medidor/IMedidor">Medidor</a></li>
                                        <li><a href="~/Socio/IBusquedaSocio">Ingresar Medidor</a></li>
                                        <li><a href="~/Medidor/IMedidorLectura">Ingresar Lecturas</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/ReportesG/IReporte"><i class="fa fa-file"></i>Reportes</a></li>
                                <li>
                                    <a><i class="fa  fa-gears"></i> Configuraciones<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Descuentos/IDescuento">Descuentos</a></li>
                                        <li><a href="~/Tarifa/ITarifa">Tarifas</a></li>
                                        <li><a href="~/TipoMulta/ITipoMulta">Multas</a></li>
                                        <li><a href="~/TipoServicio/ITipoServicio">Servicios</a></li>
                                        <li><a href="~/TipoLectura/ITipoLectura">Tipos de lecturas</a></li>
                                        <li><a href="~/TipoMedidor/ITipoMedidor">Tipo de  Medidor</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        @{
                                            if (Request.IsAuthenticated)
                                            {
                                                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                                }
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Login", "Login", "Account")
                                            }
                                        }

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            @RenderSection("featured", required: false)
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="container-fluid text-center">
                &copy;
                <script>document.write(new Date().getFullYear())</script>
                - Sistema de Cobro de Agua Potable
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Assets/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Assets/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Assets/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Assets/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Assets/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Assets/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Assets/vendors/moment/min/moment.min.js"></script>
    <script src="~/Assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Assets/build/js/custom.min.js"></script>

    <!-- validator -->
    <script src="~/Assets/vendors/validator/validator.js"></script>
</body>
</html>
